################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YoutubeDownloaderModule/YoutubeDownloader.Service/executables/ffmpeg.exe
/YoutubeDownloaderModule/YoutubeDownloader.Service/executables/yt-dlp.exe
/.vs
