################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoDownloaderModule/VideoDownloader.Service/executables/ffmpeg.exe
/VideoDownloaderModule/VideoDownloader.Service/executables/yt-dlp.exe
/.vs
